#login, #chat {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  flex-direction: column;
}

#usernameButton {
  margin: 20px;
}

#chatWrapper {
  width: 80vw;
  max-width: 700px;
}

#chatThread {
  height: 40vh;
  border: 1px solid lightslategray;
  background-color: white;
  padding: 1vw;
}

#chatForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 5px;
}

#chatForm-submitBtn {
  margin-top: 5px;
  width: 50px;
}

.msg {
  margin: 10px;
  border: 1px solid lightslategray;
  padding: 5px;
}